<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.899681469947-srqaiond730sn47nop08h93fjsfir1vi</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>899681469947-srqaiond730sn47nop08h93fjsfir1vi.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-Regular.ttf</string>
		<string>Manrope-SemiBold.ttf</string>
		<string>Manrope-Medium.ttf</string>
		<string>Manrope-Light.ttf</string>
		<string>Manrope-ExtraBold.ttf</string>
		<string>Manrope-Bold.ttf</string>
	</array>
</dict>
</plist>
